{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="text-center">Restaurantes!</h1>


  <div class="card-deck">
    <div class="row">
      {% for restaurante in restaurantes %}
        <div class="col-lg-4">
          <div class="card my-3">
            <img src="{{ asset("images/restaurante#{restaurante.id}.jpg") }}" class="card-img-top" alt="restaurante1">
            <div class="card-body">
              <h5 class="card-title">
                {{ restaurante.nombre }}
              </h5>
              <a href="/restaurantes/{{ restaurante.id }}" class="btn btn-dark">Show</a>
              <a href="/restaurantes/edit/{{ restaurante.id }}" class="btn btn-warning">Edit</a>
              <a href="/restaurantes/delete/{{ restaurante.id }}" class="btn btn-danger delete-article" data-id="{{ restaurante.id }}">Delete</a>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ restaurante.localidad }}</small>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endblock %}

  {% block stylesheets %}
    <style>
      img {
        height: 300px;
      }
    </style>
  {% endblock %}
